<div class="panel panel-default  col-lg-4 col-lg-offset-0">
    <div class="panel-heading">
        <h3 class="panel-title">Stats</h3>
    </div>
    <div class="panel-body">
        <p><strong>Last Updated:</strong> @ViewBag.UpdateDateTime</p>
        <p><strong>Last Synchronized:</strong> @ViewBag.SynchronizedDateTime</p>
        @*<p><strong>Last Harvested:</strong></p>*@
       
        <form method="post">
        <button class="btn btn-primary active" id="RequestPublication" value="val_1" name="buttonRequestPublication">Request Publication</button>              
              
        </form>
        
    </div>
        <div class="panel-heading">
            <h3 class="panel-title">Number of values by table</h3>
        </div>
        <div class="panel-body">
            <div class="">
                <ul class="list-group">
                    <li class="list-group-item">
                        <span class="badge">@Model.SiteCount</span>Sites
                    </li>
                    <li class="list-group-item">
                        <span class="badge">@Model.VariablesCount</span>Variables
                    </li>
                    <li class="list-group-item">
                        <span class="badge">@Model.SourcesCount</span>Sources
                    </li>
                    <li class="list-group-item">
                        <span class="badge">@Model.MethodsCount</span>Methods
                    </li>
                    <li class="list-group-item">
                        <span class="badge">@Model.DataValuesCount</span>Data Values
                    </li>
                    <li class="list-group-item">
                        <span class="badge">@Model.SeriesCatalog</span>Timeseries
                    </li>
                    <hr>
                    <li class="list-group-item">
                        <span class="badge">@Model.OffsetTypesCount</span>Offset Types
                    </li>

                    <li class="list-group-item">
                        <span class="badge">@Model.LabMethodsCount</span>Lab Methods
                    </li>
                    <li class="list-group-item">
                        <span class="badge">@Model.SamplesCount</span>Samples
                    </li>
                    <li class="list-group-item">
                        <span class="badge">@Model.QualifiersCount</span>Qualifiers
                    </li>
                    <li class="list-group-item">
                        <span class="badge">@Model.QualityControlLevelsCount</span>Quality Control Levels
                    </li>

                    <li class="list-group-item">
                        <span class="badge">@Model.GroupDescriptionsCount</span>Group Description
                    </li>
                    <li class="list-group-item">
                        <span class="badge">@Model.GroupsCount</span>Groups
                    </li>
                    <li class="list-group-item">
                        <span class="badge">@Model.DerivedFromCount</span>Derived From
                    </li>
                    <li class="list-group-item">
                        <span class="badge">@Model.CategoriesCount</span>Categories
                    </li>


                </ul>
            </div>
        </div>
    </div>
