@model HydroserverToolsBusinessObjects.Models.DatabaseTableValueCountModel
@{
    ViewBag.Title = "Home Page";

    ViewBag.Message = TempData["message"];
    ViewBag.UpdateDateTime = TempData["UpdateDateTime"];
    ViewBag.SynchronizedDateTime = TempData["SynchronizedDateTime"];
    ViewBag.LastHarvested = TempData["LastHarvested"];
    ViewBag.NetworkId = TempData["NetworkId"];

    Layout = "~/Views/Shared/_LayoutBasic.cshtml";

    }

<div class="_container">


    <div class="col-lg-8 ">

        <div class="well">

            @*<h3>Please select: </h3>*@

            @*<button class="btn btn-primary btn-lg btn-block" data-toggle="modal" data-target="#setConnection">Set Database Connection</button>*@
            @*<p><a href="/CSVUpload/Sites" class="btn btn-primary btn-lg active" role="button">Import Data into Hydroserver</a></p>*@
         @*   @Html.ActionLink("Import CSV Data into Hydroserver", "UploadData", "CSVUpload", new { id = "Sites" }, new { @class = "btn btn-primary btn active" })*@

            <div class="row">
                <div class="col-sm-5 " style="padding:2px">
                    <p>
                        @Html.ActionLink("Standard Upload", "RevisedUploadData", "CSVUpload", new { id = "SelectUploadType" }, new { @class = "btn btn-primary center-block" })
                    </p>
                    <h5>Upload Sites, Variables, Methods, Sources, Quality Control Levels and Data Values</h5>

                    <h4><span class="glyphicon glyphicon-download" aria-hidden="true"></span>
                        @Html.ActionLink("Standard formatting guide", "DownloadFile", "Export", new { id = "ODMGuideBasic-Excel" }, new { target = "_blank" })
                    </h4>
                </div>
                <div class="col-sm-5 col-sm-offset-1" style="padding:5px">
                    <p> 
                        @Html.ActionLink("Advanced Upload", "UploadData", "CSVUpload", new { id = "Sites" }, new { @class = "btn btn-primary center-block" })
                    </p>
                    <h4>
                        Upload Sites, Variables, Methods, Sources, Quality Control Levels, Data Values &amp; additional optional metadata tables 
                    </h4>
                    <h4>
                        <span class="glyphicon glyphicon-download" aria-hidden="true"></span>
                        @Html.ActionLink("Advanced formatting guide", "DownloadFile", "Export", new { id = "ODMGuide-Excel" }, new { target = "_blank" })
                    </h4>
                </div>
            </div>

            <h3></h3>
            @*<h3>you can allways start with the basic upload and add more comples metadata later.</h3>*@

        </div>

        <br />
        <br />
        @if (User.IsInRole("Admin"))
        {
        <div class="well">
            <h4>
                Synchronize your Data <u>after</u> new data is saved to the database.
            </h4>
            @Html.ActionLink("Synchronize Data", "SynchronizeData", "Home", new { @class = "btn btn-info active " })
            <h5>
                 This step may take several minutes to complete so we recommend that you synchronize at the end of your uploading session.
            </h5>
        </div>

            <div class="well">
                <h4>Set mode to insert. this removes index for unique datavalues.</h4>
                @Html.ActionLink("Set Insert mode", "RemoveDatavalueIndex", "Home", new { @class = "btn btn-info active" })

            </div>
        }
        @if (User.IsInRole("Admin"))
        {
            <div class="well">
                <h4>Remove duplicates</h4>
                @Html.ActionLink("Set Insert mode", "DeleteDuplicatesDatavalues", "Home", new { @class = "btn btn-info active" })

            </div>
        }

    </div>

    @Html.Partial("_CountInTables")





</div>
   
<script src="~/Scripts/custom/jsHelper.js"></script>