@model HydroserverToolsBusinessObjects.Models.DatabaseTableValueCountModel
@{
    ViewBag.Title = "Home Page";
    
    ViewBag.Message = TempData["message"];



}

<div class="container">
    

    <div class="col-lg-6 ">

        <div class="well">

            <h4>Click to Upload:@TempData["message"]</h4>

            @*<button class="btn btn-primary btn-lg btn-block" data-toggle="modal" data-target="#setConnection">Set Database Connection</button>*@
            @*<p><a href="/CSVUpload/Sites" class="btn btn-primary btn-lg active" role="button">Import Data into Hydroserver</a></p>*@
            @Html.ActionLink("Import CSV Data into Hydroserver", "UploadData", "CSVUpload", new { id = "Sites" }, new { @class = "btn btn-primary btn active" })
        </div>
        <div class="well">
            <h4>Click to update the time series catalog. Required after uploading datavalues</h4>
            @Html.ActionLink("Refresh All Timeseries metadata", "RecreateSeriescatalog", "Home", new { @class = "btn btn-info active" })

        </div>
        @if (User.IsInRole("Admin"))
        {
            <div class="well">
                <h4>Set mode to insert. this removes index for unique datavalues.</h4>
                @Html.ActionLink("Set Insert mode", "RemoveDatavalueIndex", "Home", new { @class = "btn btn-info active" })

            </div>
        }
        @if (User.IsInRole("Admin"))
        {
            <div class="well">
                <h4>Remove duplicates</h4>
                @Html.ActionLink("Set Insert mode", "DeleteDuplicatesDatavalues", "Home", new { @class = "btn btn-info active" })

            </div>
        }

    </div>

    @Html.Partial("_CountInTables")


       
       
   
</div>
   