@model HydroserverToolsBusinessObjects.Models.DatabaseTableValueCountModel
@{
    ViewBag.Title = "Home Page";

    ViewBag.Message = TempData["message"];

    Layout = "~/Views/Shared/_LayoutSimple.cshtml";

}

<div class="container">
    

    <div class="col-lg-8 ">

        <div class="well">

            @*<h3>Please select: </h3>*@

            @*<button class="btn btn-primary btn-lg btn-block" data-toggle="modal" data-target="#setConnection">Set Database Connection</button>*@
            @*<p><a href="/CSVUpload/Sites" class="btn btn-primary btn-lg active" role="button">Import Data into Hydroserver</a></p>*@
         @*   @Html.ActionLink("Import CSV Data into Hydroserver", "UploadData", "CSVUpload", new { id = "Sites" }, new { @class = "btn btn-primary btn active" })*@
            
            <div class="row">
                <div class="col-sm-5 " style="padding:5px">
                    <h4><u>Please select</u> for uploading Sites, Variables, Methods, Sources and Datavalues</h4>
                    
                    <h5>
                        Please click to download 

                        @Html.ActionLink("Basic formatting guide", "DownloadFile", "Export", new { id = "ODMGuideBasic-Excel" }, new { target = "_blank" })
                    </h5>   
                    <p>
                        @Html.ActionLink("Basic CSV File Upload", "RevisedUploadData", "CSVUpload", new { id = "SelectUploadType" }, new { @class = "btn btn-primary center-block" })
                    </p> 
   </div>
                <div class="col-sm-5 col-sm-offset-1" style="padding:5px">
                    <h4>
                        <u>Please select</u> for Upload other metadata than Sites, Variables, Methods, Sources and Datavalues                        
                    </h4>
                    <h5>Please click to download
                        @Html.ActionLink("Advanced formatting guide", "DownloadFile", "Export", new { id = "ODMGuide-Excel" }, new { target = "_blank" })
                    </h5>
                    <p> @Html.ActionLink("Advanced CSV File Upload", "UploadData", "CSVUpload", new { id = "Sites" }, new { @class = "btn btn-primary center-block" })</p>
                </div>
            </div>
            
            <h3></h3>
            @*<h3>you can allways start with the basic upload and add more comples metadata later.</h3>*@
          
          

        </div>
       
        
        <br />
        <br />
        <div class="well">
            <h4>
                Synchronize your Data <u>after</u> new data is saved to the database.                
            </h4>
            @Html.ActionLink("Synchronize Data", "RecreateSeriescatalog", "Home", new { @class = "btn btn-info active " })
            <h5>
                 This step may take several minutes to complete so we recommend that you synchronize at the end of your uploading session. 
            </h5>
        </div>
        @if (User.IsInRole("Admin"))
        {
            <div class="well">
                <h4>Set mode to insert. this removes index for unique datavalues.</h4>
                @Html.ActionLink("Set Insert mode", "RemoveDatavalueIndex", "Home", new { @class = "btn btn-info active" })

            </div>
        }
        @if (User.IsInRole("Admin"))
        {
            <div class="well">
                <h4>Remove duplicates</h4>
                @Html.ActionLink("Set Insert mode", "DeleteDuplicatesDatavalues", "Home", new { @class = "btn btn-info active" })

            </div>
        }

    </div>

    @Html.Partial("_CountInTables")


       
       
   
</div>
   