@model HydroserverToolsBusinessObjects.Models.DatabaseTableValueCountModel
@{
    ViewBag.Title = "Home Page";

    ViewBag.Message = TempData["message"];

    Layout = "~/Views/Shared/_Layout.cshtml";

}

<div class="container">
    

    <div class="col-lg-8 ">

        <div class="well">

            <h4>Click to Upload:@TempData["message"]</h4>

            @*<button class="btn btn-primary btn-lg btn-block" data-toggle="modal" data-target="#setConnection">Set Database Connection</button>*@
            @*<p><a href="/CSVUpload/Sites" class="btn btn-primary btn-lg active" role="button">Import Data into Hydroserver</a></p>*@
         @*   @Html.ActionLink("Import CSV Data into Hydroserver", "UploadData", "CSVUpload", new { id = "Sites" }, new { @class = "btn btn-primary btn active" })*@

            @Html.ActionLink("Basic CSV File Upload", "RevisedUploadData", "CSVUpload", new { id = "SelectUploadType" }, new { @class = "btn btn-primary" })
            @Html.ActionLink("Full CSV File Upload", "UploadData", "CSVUpload", new { id = "Sites" }, new { @class = "btn btn-primary btn active" })


        </div>
        <div class="well">
            <h4>
                Click "Update Timeseries metadata" after new data is saved to the database.                
            </h4>
            @Html.ActionLink("Refresh Timeseries metadata", "RecreateSeriescatalog", "Home", new { @class = "btn btn-info active" })
            <h5>
                This is required to register the new data values with the existing timeseries or create new timeseries.
                Failing to do this will result in the new data not being discoverable.
                Since this can take a long period of time depending on the amount of data in the database
                it is recommended to be the last step of uploading multiple sheets of data.
            </h5>
        </div>
        @if (User.IsInRole("Admin"))
        {
            <div class="well">
                <h4>Set mode to insert. this removes index for unique datavalues.</h4>
                @Html.ActionLink("Set Insert mode", "RemoveDatavalueIndex", "Home", new { @class = "btn btn-info active" })

            </div>
        }
        @if (User.IsInRole("Admin"))
        {
            <div class="well">
                <h4>Remove duplicates</h4>
                @Html.ActionLink("Set Insert mode", "DeleteDuplicatesDatavalues", "Home", new { @class = "btn btn-info active" })

            </div>
        }

    </div>

    @Html.Partial("_CountInTables")


       
       
   
</div>
   