@{
    ViewBag.Title = "Templates";
}

<h2>Templates</h2>

<h4>Please click to download the templates</h4>
<div class="row">
    <div class="col-md-6">     
        CSV Format
        <ul class="">
            <li>@Html.ActionLink("Sites", "DownloadTemplate", "Export", new { id = "Sites" }, new { target = "_blank" })</li>
            <li>@Html.ActionLink("Variables", "DownloadTemplate", "Export", new { id = "Variables" }, new { target = "_blank" })</li>
            <li>@Html.ActionLink("OffsetTypes ", "DownloadTemplate", "Export", new { id = "OffsetTypes" }, new { target = "_blank" })</li>
           @* <li>@Html.ActionLink("Import ISOMetadata", "ViewTableData", "ViewData", new { identifier = "ISOMetadata" }, null)</li>*@
            <li>@Html.ActionLink("Sources", "DownloadTemplate", "Export", new { id = "Sources" }, new { target = "_blank" })</li>
            <li>@Html.ActionLink("Methods", "DownloadTemplate", "Export", new { id = "Methods" }, new { target = "_blank" })</li>
            <li>@Html.ActionLink("LabMethods", "DownloadTemplate", "Export", new { id = "LabMethods" }, new { target = "_blank" })</li>
            <li>@Html.ActionLink("Samples", "DownloadTemplate", "Export", new { id = "Samples" }, new { target = "_blank" })</li>
            <li>@Html.ActionLink("Qualifiers", "DownloadTemplate", "Export", new { id = "Qualifiers" }, new { target = "_blank" })</li>
            <li>@Html.ActionLink("QualityControlLevels", "DownloadTemplate", "Export", new { id = "QualityControlLevels" }, new { target = "_blank" })</li>
            <li>@Html.ActionLink("DataValues", "DownloadTemplate", "Export", new { id = "DataValues" }, new { target = "_blank" })</li>
            <li>@Html.ActionLink("GroupDescriptions", "Template", "Export", new { id = "GroupDescriptions" }, new { target = "_blank" })</li>
            <li>@Html.ActionLink("Groups", "DownloadTemplate", "Export", new { id = "Groups" }, new { target = "_blank" })</li>
            <li>@Html.ActionLink("(DerivedFrom", "DownloadTemplate", "Export", new { id = "DerivedFrom" }, new { target = "_blank" })</li>
            <li>@Html.ActionLink("Categories", "DownloadTemplate", "Export", new { id = "Categories" }, new { target = "_blank" })</li>

        </ul>
    </div>
    <div class="col-md-6">

        <ul class="">
            

        </ul>
    </div>
</div>