@model HydroServerTools.Models.ServiceRegistration

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutSimple.cshtml";
}

<style>
    .button_loading {
        background: url('images/loading.gif') no-repeat 50% 50%;
        /* apply other styles to "loading" buttons */
    }
</style>
<h2>Create Publishing Account </h2>
<h3>Please fill in the form below to create an account to publish data with the CUAHSI Water Data Services. Fields with (*) are required. 
    After submitting it will take ~30s to create your account. You will receive an activation email in your google account.</h3>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4></h4>
        <hr />
        @Html.ValidationSummary(true)
        <div class="form-group">
            @Html.LabelFor(model => model.ServiceName, htmlAttributes: new { @class = "control-label col-md-2" })
           
            <div class="col-md-9">
                @Html.EditorFor(model => model.ServiceName)<a href="#" data-toggle="tooltip" title="Please enter a short Name for the dataset!"><img class="infobutton"  src="~/Images/infobutton_60.jpg" /></a>
                                @Html.ValidationMessageFor(model => model.ServiceName)
                                
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.GoogleAccount, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.GoogleAccount, new { @Value = User.Identity.Name, @readonly = "readonly" })<a href="#" data-toggle="tooltip" title="Email for current user account"><img class="infobutton" src="~/Images/infobutton_60.jpg" /></a>
               @* @Html.EditorFor(model => model.GoogleAccount)*@
                @Html.ValidationMessageFor(model => model.GoogleAccount)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ServiceTitle, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ServiceTitle)
                @Html.ValidationMessageFor(model => model.ServiceTitle)<a href="#" data-toggle="tooltip" title="Title for dataset to be displayed "><img class="infobutton" src="~/Images/infobutton_60.jpg" /></a>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ServiceDescription, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*@Html.EditorFor(model => model.ServiceDescription)*@
                @Html.TextAreaFor(model => model.ServiceDescription, 5, 100, null)<a href="#" data-toggle="tooltip" title=""><img class="infobutton" src="~/Images/infobutton_60.jpg" /></a>
                @Html.ValidationMessageFor(model => model.ServiceDescription)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ContactName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ContactName)<a href="#" data-toggle="tooltip" title=""><img class="infobutton" src="~/Images/infobutton_60.jpg" /></a>
                @Html.ValidationMessageFor(model => model.ContactName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ContactEmail, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ContactEmail)<a href="#" data-toggle="tooltip" title=""><img class="infobutton" src="~/Images/infobutton_60.jpg" /></a>
                @Html.ValidationMessageFor(model => model.ContactEmail)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ContactPhone, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ContactPhone)<a href="#" data-toggle="tooltip" title=""><img class="infobutton" src="~/Images/infobutton_60.jpg" /></a>
                @Html.ValidationMessageFor(model => model.ContactPhone)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Organization, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Organization)<a href="#" data-toggle="tooltip" title=""><img class="infobutton" src="~/Images/infobutton_60.jpg" /></a>
                @Html.ValidationMessageFor(model => model.Organization)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.OrganizationUrl, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.OrganizationUrl)<a href="#" data-toggle="tooltip" title=""><img class="infobutton" src="~/Images/infobutton_60.jpg" /></a>
                @Html.ValidationMessageFor(model => model.OrganizationUrl)
            </div>
        </div>
        <div class="form-group hidden">
            @Html.LabelFor(model => model.RequestIssued, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.RequestIssued, new { @Value = @DateTime.Now.ToString("s")});

</div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" id ="btnServiceRegistrationSubmit" value="Create" class="btn btn-default"  />
            </div>
        </div>
    </div>
}
@if (User.IsInRole("Admin")) 
{
<div>
    @Html.ActionLink("Back to List", "Index")
</div>
<!-- Static Modal -->
<div class="modal modal-static fade" id="processing-modal" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="text-center">
                    <img src="http://www.travislayne.com/images/loading.gif" class="icon" />
                    <h4>Processing... <button type="button" class="close" style="float: none;" data-dismiss="modal" aria-hidden="true">×</button></h4>
                </div>
            </div>
        </div>
    </div>
</div>

}
<script>
    $("#btnServiceRegistrationSubmit").click(function () {
        
        $(this).addClass('disabled');
});
</script>
