@model HydroServerTools.Models.ServiceRegistration

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_LayoutBasic.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>ServiceRegistration</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GoogleAccount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GoogleAccount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ServiceTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ServiceTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ServiceDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ServiceDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ContactName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContactName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ContactEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContactEmail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ContactPhone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContactPhone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Organization)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Organization)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OrganizationUrl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrganizationUrl)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Citation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Citation)
        </dd>
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
