@model HydroServerTools.Models.LoginViewModel

@{
    ViewBag.Title = "Log in";
    
}

@*<h2>@ViewBag.Title.</h2>*@
<div class="row">
    <div class="jumbotron">

        HydroServer is a suite of application for sharing time series water data. It has three components:
        <ul>
            <li>An instance of the Observations Data Model (ODM) SQL Database in the Azure Cloud</li>
            <li>An application for uploading data to the ODM Database using CSV templates</li>
            <li>A WaterOneFlow Web Service for exposing the database</li>
        </ul>


        To begin, login using your Google account, if you have not requested a hydroserver before you will be sent to a form where you an request a Hydroserver. We will contact you once the setup is complete.
        After a Hydroserver is assigned to your login you can start using the application and  
        <ul>
            <li>1. download the ODM Templates and populate them with your data and metadata </li>
            <li>2. upload data</li>
            <li>3. register your web service and database with CUAHSI’s <a href="http://hiscentral.cuahsi.org" target="_blank">HIS Central</a> catalog.</li>
        </ul>
        
         
        
        <br />
        I you do not have a Google account you can find the
        request form <a href="https://docs.google.com/forms/d/10c-ZpmxZQX9kXIixDZMV5sNJblyhebn13-CnD1xdwjg/viewform?embedded=true&entry.1429452739=" target="_blank">here</a>


        Need help? Contact the
        <a href="http://wdc.cuahsi.org/WDC/Contact.html" target="_blank">WDC staff</a>.
        @*<button class="btn btn-primary btn-lg btn-block" data-toggle="modal" data-target="#setConnection">Set Database Connection</button>*@
        @*<p><a href="/CSVUpload/Sites" class="btn btn-primary btn-lg active" role="button">Import Data into Hydroserver</a></p>*@
        @*   @Html.ActionLink("Import Data into Hydroserver", "UploadData", "CSVUpload", new { id = "Sites" }, new { @class = "btn btn-primary btn-lg active" })*@
    </div>

    <div class="col-md-4">
        <section id="socialLoginForm">
            @Html.Partial("_ExternalLoginsListPartial", new { Action = "ExternalLogin", ReturnUrl = ViewBag.ReturnUrl })
        </section>
    </div>
    <div class="col-md-4">
        <section id="LocalLoginForm">
            <br />
           @Html.ActionLink("Training Login", "LocalLogin", "Account",  new { area = "" }, null)

          
</section>
    </div>
   
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}