@model HydroServerTools.Models.LoginViewModel

@{
    ViewBag.Title = "Log in";
    Layout = null;
    var message = @TempData["message"];
}

@Styles.Render("~/Content/css")
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.10.3.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/purl.js"></script>
<script src="~/Scripts/bootbox.js"></script>
    <script type="text/javascript">

                            var message = '@message';
                            //alert(message);
                            if (message) {
                                bootbox.alert(message);
                            }

</script>
<div class="container ">
    <div>
    <img src="~/Images/Hydroserver/HydroserverLogo.png" class="center img-thumbnail" style="border:0px; vertical-align:top; padding:10px" />
</div>
    <div class="row drop-shadow">
        
        <div class="navbar navbar-inverse ">

            <div class="navbar-header ">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            @*<ul class="nav  navbar-nav">
                
                <li>@Html.ActionLink("Contact", "Contact", "Home", new { area = "" }, null)</li>
                <li>@Html.ActionLink("Templates", "Templates", "Home", new { area = "" }, null)</li>
                <li>@Html.ActionLink("Controlled Vocabularies", "ControlledVocabularies", "Home", new { area = "" }, null)</li>
            </ul>*@
            @if (User.Identity.IsAuthenticated)
            {
                @Html.Partial("_LoginPartial")
            }
        </div>




        @*<ul class="thumbnails">*@
       
            <div class="col-md-4 selectbox">
                <div class="thumbnail">
                    @*<img src="~/Images/request.png" alt="ALT NAME">*@
                    <div class="caption">
                        <p align="center"><h2><u>First Time Publishers</u></h2></p>
                        <br />
                        @*<p align="center"><a href="#" class="btn btn-primary btn-block " id="dialogRequest">Request Data Service</a></p>*@

                        
                            <section id="socialLoginForm">
                                @Html.Partial("_ExternalLoginsListPartial", new { Action = "ExternalLogin", ReturnUrl = "GoogleForm" })
                            </section>
                            <br />
                            @*<h1 align="center">REQUEST</h1><h3>a Dataservice </h3>*@
                            <h5>a Google account is required to request a dataservice. If you don't have one please request an account <a href="https://accounts.google.com/SignUpWithoutGmail?hl=en" target="_top">here</a>. We will contact you once the service setup is completed.
                        </h5>

                            @*<p align="left"><a href="~/Home/GoogleForm" class="btn btn-primary btn-block">Open</a></p>*@


                        </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="thumbnail">
                    @*<img src="http://placehold.it/320x200" alt="ALT NAME">*@
                    <div class="caption">
                        <p align="center"><h2><u>Existing Publishers</u></h2></p>
                        <br />
                        @Html.Partial("_ExternalLoginsListPartial", new { Action = "ExternalLogin", ReturnUrl = ViewBag.ReturnUrl })
                        <br />
                        <h5>Login with your Google account to access your existing database, where you can view, upload, and update data. </h5>
                      

                        
                    </div>
                </div>
            </div>
            <div class="col-md-4 ">
                <div class="thumbnail">
                    @*<img src="http://placehold.it/320x200" alt="ALT NAME">*@
                    <div class="caption selectbox">
                        <p align="center"><h2><u>Need more information</u></h2></p>
                         <br />
                       
                        <p align="right"><a href="#" class="btn btn-primary btn-block " id="dialog">Help</a></p><br />
                    </div>
                </div>
            </div>
            @*</ul>*@

        </div>
        
    
    <footer class="navbar-header ">Copyright &copy; CUAHSI 2017 </footer>
</div>

        @*<h2>@ViewBag.Title.</h2>
        <div class="container">
            <div class="jumbotron">
                <div class="border row">
                    <div class="border col-md-3 col-md-offset-1">


                    </div>
                    <div class="border col-md-3 col-md-offset-1">

                        <a href="https://docs.google.com/forms/d/10c-ZpmxZQX9kXIixDZMV5sNJblyhebn13-CnD1xdwjg/viewform?embedded=true&entry.1429452739=" target="_blank"></a>
                        @Html.ActionLink("Training Login", "LocalLogin", "Account", new { area = "" }, null)


                    </div>
                    <div class="border col-md-3" col-md-offset-1>
                        <button type="button" class="btn btn-default btn-lg">Left</button>

                    </div>
                </div>
            </div>
        </div>


        <div class="row">


            @*<button class="btn btn-primary btn-lg btn-block" data-toggle="modal" data-target="#setConnection">Set Database Connection</button>*@
            @*<p><a href="/CSVUpload/Sites" class="btn btn-primary btn-lg active" role="button">Import Data into Hydroserver</a></p>*@
            @*   @Html.ActionLink("Import Data into Hydroserver", "UploadData", "CSVUpload", new { id = "Sites" }, new { @class = "btn btn-primary btn-lg active" })*@
        

        <div class="modal fade" id="modelWindow" role="dialog">
            <div class="modal-dialog modal-sm vertical-align-center">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h2 class="modal-title">How to Publish Data:</h2>
                    </div>
                    <div class="modal-body">                      
                        
                            <h4>1. Request a data service. (You will need a google account to request a database. If you do not have a google account, please request one <a href="https://accounts.google.com/SignUpWithoutGmail?hl=en" target="_blank">here</a>.)</h4>
                            <h4>2. While CUAHSI sets up your database, begin formatting your data and metadata to fit with the Excel  <a href="~/Export/DownloadFile/ODMTemplateszip">Templates</a> according to the User <a href="~/Export/DownloadFile/UserGuide">guide</a></h4>
                            <h4>3. Once you have received an email notification that your service is set up, navigate back to <a href="http://hydroserver.cuahsi.org">hydroserver.cuahsi.org</a> and choose the option: Login to access your database.</h4>
                            <h4>4. Begin uploading the formatted data and metadata in CSV format</h4>
                            <h4>5. When you are ready to make the data public, register your web service and database with the CUAHSI’s <a href="http://hiscentral.cuahsi.org" target="_blank">Catalog</a></h4>
                            <h4>6. Either notify help@cuahsi.org that you are ready to publish your database, or, wait for CUASHI’s weekly publishing update typically that occurs every week</h4>
                            <h4>7. Discover your data at <a href="http://data.cuahsi.org" target="_blank">data.cuahsi.org</a></h4>
                        
                        <h4>Questions? Contact CUAHSI support at <strong>help@cuahsi.org.</strong></h4> 

                      

                        @*HydroServer is a suite of application for sharing time series water data. It has three components:
                        <ul>
                            <li>1. An instance of the Observations Data Model (ODM 1.1.1) SQL Database in the Azure Cloud</li>
                            <li>2. This application for uploading data to the ODM Database using CSV templates</li>
                            <li>3. A WaterOneFlow Web Service for exposing the database</li>
                        </ul>

                        To begin, log in using your Google account, if you have not requested a hydroserver instance previously, you will be redirected to a web page where you an request a Hydroserver.
                        Please fill out the form and we will contact you once the setup is complete.
                        <br />
                        After a Hydroserver is assigned to your Google Account* you can start using the application and:
                        <ul>
                            <li>1. Download the ODM Templates and populate them with your data and metadata </li>
                            <li>2. Upload data</li>
                            <li>3. Register your web service and database with CUAHSI’s <a href="http://hiscentral.cuahsi.org" target="_blank">HIS Central</a> catalog.</li>
                        </ul>

                        <br />
                        If you do not have a Google account you can find the
                        request form <a href="https://docs.google.com/forms/d/10c-ZpmxZQX9kXIixDZMV5sNJblyhebn13-CnD1xdwjg/viewform?embedded=true&entry.1429452739=" target="_blank">here</a>


                        Need help? Contact the
                        <a href="http://wdc.cuahsi.org/Contact" target="_blank">WDC staff</a>.
                        <h6>
                            *Note for Chrome users – If your browser’s Google account is different than the Google account used to register your HydroServer, please sign out of your browser’s account (located on the home page) before logging in.  Alternatively, you may use an incognito Chrome window.
                        </h6>*@     
                  
                    </div>
                    <div class="modal-footer">
                        <button type="button" data-dismiss="modal" class="btn btn-default">Close</button>
                    </div>

                </div>
            </div>
        </div>
        <div class="modal fade" id="modelRequestWindow" role="dialog">
    <div class="modal-dialog modal-sm vertical-align-center">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h2 class="modal-title">Help:</h2>
            </div>
            <div class="modal-body">
                

                @Html.Raw("<iframe src = 'https://docs.google.com/forms/d/10c-ZpmxZQX9kXIixDZMV5sNJblyhebn13-CnD1xdwjg/viewform?embedded=true&entry.1429452739=' width='100%' height='100%' frameborder='0' marginheight='0' marginwidth='0'>Loading...</iframe>")

            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn btn-default">Close</button>
            </div>

        </div>
    </div>
</div>
 <div class="modal fade" id="modelWindow" role="dialog">
            <div class="modal-dialog modal-sm vertical-align-center">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h2 class="modal-title">Help:</h2>
                    </div>
                    <div class="modal-body">
                       
                        
                        <h2>Steps to Publishing Data</h2>
                        <ul>
                            <li><h4>1.	Request a database. (You will need a google account to request a database. If you do not have a google account, please request one here.)</h4></li>
                            <li><h4>2.	While CUAHSI sets up your database, begin formatting your data and metadata to fit with the Excel Template</h4></li>
                            <li><h4>3.	Once you have received an email notification that your database is set up, navigate back to hydroserver.cuahsi.org and choose the option: Login to access your database.</h4></li>
                            <li><h4>4.	Begin uploading the formatted data and metadata in CSV format</h4></li>
                            <li><h4>5.	When you are ready to make the data public, register your web service and database with the CUAHSI’s Catalog</h4></li>
                            <li><h4>6.	Either notify help@cuahsi.org that you are ready to publish your database, or, wait for CUASHI’s weekly publishing update that occurs every Saturday</h4></li>
                            <li><h4>7.	Discover your data at data.cuahsi.org</h4></li>
                        </ul>
                        
                        <h3>Questions? Contact CUAHSI support at <strong>help@cuahsi.org.</strong></h3> 



                        @*HydroServer is a suite of application for sharing time series water data. It has three components:
                        <ul>
                            <li>1. An instance of the Observations Data Model (ODM 1.1.1) SQL Database in the Azure Cloud</li>
                            <li>2. This application for uploading data to the ODM Database using CSV templates</li>
                            <li>3. A WaterOneFlow Web Service for exposing the database</li>
                        </ul>

                        To begin, log in using your Google account, if you have not requested a hydroserver instance previously, you will be redirected to a web page where you an request a Hydroserver.
                        Please fill out the form and we will contact you once the setup is complete.
                        <br />
                        After a Hydroserver is assigned to your Google Account* you can start using the application and:
                        <ul>
                            <li>1. Download the ODM Templates and populate them with your data and metadata </li>
                            <li>2. Upload data</li>
                            <li>3. Register your web service and database with CUAHSI’s <a href="http://hiscentral.cuahsi.org" target="_blank">HIS Central</a> catalog.</li>
                        </ul>

                        <br />
                        If you do not have a Google account you can find the
                        request form <a href="https://docs.google.com/forms/d/10c-ZpmxZQX9kXIixDZMV5sNJblyhebn13-CnD1xdwjg/viewform?embedded=true&entry.1429452739=" target="_blank">here</a>


                        Need help? Contact the
                        <a href="http://wdc.cuahsi.org/Contact" target="_blank">WDC staff</a>.
                        <h6>
                            *Note for Chrome users – If your browser’s Google account is different than the Google account used to register your HydroServer, please sign out of your browser’s account (located on the home page) before logging in.  Alternatively, you may use an incognito Chrome window.
                        </h6>*@     

                    </div>
                    <div class="modal-footer">
                        <button type="button" data-dismiss="modal" class="btn btn-default">Close</button>
                    </div>

                </div>
            </div>
        </div>
        <script>
            $("#dialog").on("click", function () {
                $('#modelWindow').modal('show');
            })
            $("#dialogRequest").on("click", function () {
                $('#modelRequestWindow').modal('show');
            })
        </script>
        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
            @Scripts.Render("~/bundles/jquery")

        }
