@model HydroServerTools.Models.LoginViewModel

@{
    ViewBag.Title = "Log in";
    
}

@*<h2>@ViewBag.Title.</h2>*@
<div class="row">
    <div class="jumbotron">

        HydroServer is a suite of application for sharing time series water data. It has three components:
        <ul>
            <li>1. An instance of the Observations Data Model (ODM 1.1.1) SQL Database in the Azure Cloud</li>
            <li>2. This application for uploading data to the ODM Database using CSV templates</li>
            <li>3. A WaterOneFlow Web Service for exposing the database</li>
        </ul>

        To begin, log in using your Google account, if you have not requested a hydroserver instance previously, you will be redirected to a web page where you an request a Hydroserver. 
        Please fill out the form and we will contact you once the setup is complete.
        <br />
        After a Hydroserver is assigned to your Google Account* you can start using the application and:
        <ul>
            <li>1. Download the ODM Templates and populate them with your data and metadata </li>
            <li>2. Upload data</li>
            <li>3. Register your web service and database with CUAHSI’s <a href="http://hiscentral.cuahsi.org" target="_blank">HIS Central</a> catalog.</li>
        </ul>
              
        <br />
        If you do not have a Google account you can find the
        request form <a href="https://docs.google.com/forms/d/10c-ZpmxZQX9kXIixDZMV5sNJblyhebn13-CnD1xdwjg/viewform?embedded=true&entry.1429452739=" target="_blank">here</a>

      
        Need help? Contact the
        <a href="http://wdc.cuahsi.org/Contact" target="_blank">WDC staff</a>.
        <h6>
        *Note for Chrome users – If your browser’s Google account is different than the Google account used to register your HydroServer, please sign out of your browser’s account (located on the home page) before logging in.  Alternatively, you may use an incognito Chrome window.
        </h6>
        @*<button class="btn btn-primary btn-lg btn-block" data-toggle="modal" data-target="#setConnection">Set Database Connection</button>*@
        @*<p><a href="/CSVUpload/Sites" class="btn btn-primary btn-lg active" role="button">Import Data into Hydroserver</a></p>*@
        @*   @Html.ActionLink("Import Data into Hydroserver", "UploadData", "CSVUpload", new { id = "Sites" }, new { @class = "btn btn-primary btn-lg active" })*@
    </div>

    <div class="col-md-4">
        <section id="socialLoginForm">
            @Html.Partial("_ExternalLoginsListPartial", new { Action = "ExternalLogin", ReturnUrl = ViewBag.ReturnUrl })
        </section>
    </div>
    <div class="col-md-4">
        <section id="LocalLoginForm">
            <br />
           @Html.ActionLink("Training Login", "LocalLogin", "Account",  new { area = "" }, null)
         
</section>
    </div>
   
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}